.-sp-H2-Titillium-Web {
    width: 43px;
    height: 19px;
    align-self: flex-start;
    flex-grow: 0;
    margin: 49px 1px 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align: left;
    color: #616164;
  }
.textoInforme{
  margin: 5.7px 20.1px 23px 13px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}