.icon {
  width: 51.7px;
  height: 51.7px;
  flex-grow: 0;
  margin: 0 19.3px 4.3px 9px;
}
.-sp-H2-Titillium-Web {
  margin: 4.3px 0 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #616164;
}
.tituloModal {
  margin-left: 36%;
}
.textoHist {
  padding: auto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
