.Rectangle-27 {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(11, 12, 26, 0.05);
  background-color: #616164;
  color: #616164;
}
.-sp-H2-Titillium-Web {
  width: 19px;
  height: 19px;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0.4px 0 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #616164;
}
.tituloModal2{
  margin-left: 46%;
}
.medicamentos-table {
  border: none;
}

.hora-cell {
  text-align: center;
}

.hora-title {
  display: block;
}


.medicamento-cell {
  text-align: center;
}

/* Cambiamos el estilo del checkbox para mostrar un tick si está marcado y vacío si no lo está */
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #000;
  background-color: #000;
}

.custom-control-input:checked ~ .custom-control-label::after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.custom-control-label::before {
  border: 1px solid #000;
  background-color: #fff;
}

.modal-body {
  max-height: 400px; 
  overflow-y: auto;
}
