.fecha-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.fecha-cuadrado {
  position: relative;
  width: 165px;
  height: 83px;
  background-color: #f7374a;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fecha-dia {
  font-size: 16px;
  font-weight: bold;
  color: #202020;
}

.fecha-texto {
  margin-top: -12px;
  font-size: 16px;
  font-family: "Freemono", "monospace";
  font-variant: small-caps;
  font-style: italic;
  color: #ffffff;
  font-weight: bolder;
}

.fecha-hora {
  font-size: 12px;
  font-family: "Freemono", "monospace";
  color: #ffffff;
  position: absolute;
  bottom: -5px;
  right: 10px;
}

.imagenFecha {
  width: 350px;
  height: auto;
  padding-left: 10px;
}
.FechaModal{
  font-weight: bolder;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #f7374a;
}
.TituloModal{
  font-weight: bolder;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #f7374a;
}