.App {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  height: 100vh; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tituloModal{
  margin-left: 45%;
}
.modal1{
  margin-top: 20%;
}
.square {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46vh; /* La mitad superior de la pantalla */
  background-color: #f7374a;
  border-radius: 20px; /* Agrega bordes curvos */
  z-index: -1; /* Envía el cuadrado al fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  border-radius: 20%;
  object-fit: cover;
}

.name {
  margin-top: 10px;
  color: white;
  font-size: 24px;
  font-weight:bold;
  font-family: 'Titillium Web', sans-serif;
}
.logos{
  margin-top: 12%;
}


.Rounded-Rectangle {
  width: 326px;
  height: 438px;
  margin: 300px 31px 41px 33px;
  padding: 23px 13px 45px 11px;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(11, 12, 26, 0.1);
  background-color: #fff;
}
.SeguimientoSemanal {
  display: flex; 
  justify-content: flex-start;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0b0c1a;
  margin-bottom: 7%;
  margin-right: 2%;
  margin-left: 5%;
}
.fechas{
  font-weight: bold;
}
.SegmentedPicker {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  padding: 2px;
  border-radius: 8.9px;
  background-color: rgba(118, 118, 128, 0.12);
}
._SegmentedPicker-option {
  align-self: stretch;
  flex-grow: 1;
}
.Actividades {
  width: 117px;
  height: 20.7px;
  flex-grow: 0;
  margin: 65.6px 67px 0 37.3px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
._SegmentedPicker-option2 {
  align-self: stretch;
  flex-grow: 1;
  border-radius: 6.9px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04), 0 3px 8px 0 rgba(0, 0, 0, 0.12);
  border: solid 0.5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}
.Informe {
  width: 88.7px;
  height: 20.7px;
  flex-grow: 0;
  margin: 65.6px 37.3px 0 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}