.Rectangle-27 {
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(11, 12, 26, 0.05);
  background-color: #fff;
  height: 155px;
  margin: 5%;
}

.-sp-H2-Titillium-Web {
  width: 80px;
  height: 19px;
  align-self: flex-start;
  flex-grow: 0;
  margin: 4.3px 0 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #616164;
}
.textoKine {
  margin: 10px 18px 23px 8px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.textoKine2 {
  margin: 10px 18px 23px 8px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.subTextoKine{
  margin-left: 8px;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}